@import url("goods_table.css");
@import url("buttons.css");

form#add, form#update {
	display: none;
	border: 1px solid #FFCA5E;
	padding: 5px;
	position: fixed; 
	right: 5px; 
	top: 10px;
}

button#add_button{
	position: fixed; 
	right: 5px; 
	top: 10px;
}

p#message{
	display: none;
	position: fixed; 
	right: 5px; 
	top: 10px;
	color: #FF0000;
	font-size: 14pt;
}

.field label {
	float:left; 
	padding-right:10px;
}

.field {
	clear:both; 
	text-align:right; 
	line-height:25px;
}




